*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#card{
    height: 200px;
    width: 250px;
    /* border: solid 2px rebeccapurple; */
    box-shadow: 0 0 10px rgb(12, 96, 94);
    margin-top: 40px;
    padding: 40px;
    align-items: center;
}